.idea/
web/.env
mobile_web/.env
api_testing/.env
web/.ruby-version
mobile_web/.ruby-version
api_testing/.ruby-version
.byebug_history
report/*
rerun.txt
selenium.log
features/data/downloaded
api_testing/report/*
web/report/*
mobile_web/report/*
.vscode
**/.DS_Store
gemfile.lock